body {
  background-color: #e5e3db;
}

.boks1 {
  background-color: #3b4b46;
  width: 100%;
  margin-bottom: 80px;
}
.boks2 {
  background-color: #3b4b46;
  width: 100%;
  margin-bottom: 80px;
}

.boks3 {
  background-color: #3b4b46;
  width: 100%;
  margin-bottom: 80px;
}

h1 {
  color: white;
  text-align: center;
  font-family: "josefin-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 2.5rem;
}
h2 {
  color: white;
  text-align: center;
  font-family: "josefin-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h3 {
  color: white;
  text-align: center;
  font-family: "josefin-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
p {
  color: white;
  font-family: "josefin-sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}
footer p {
  color: black;
}
#area {
  width: 100%;
}
#hotel {
  width: 100%;
}
#cafe {
  width: 100%;
}
.tekst1 {
  grid-column: 2 / 2;
  margin: 5rem;
  font-size: 18px;
  font-family: "josefin-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2rem;
  color: white;
}
.tekst2 {
  grid-column: 1 / 2;
  margin: 5rem;
  font-size: 18px;
  font-family: "josefin-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2rem;
  color: white;
}
.tekst3 {
  grid-column: 2 / 2;
  margin: 5rem;
  font-size: 18px;
  font-family: "josefin-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2rem;
  color: white;
}
#overskrift {
  padding-bottom: 4rem;
}
#overskrift2 {
  padding-bottom: 4rem;
}
#overskrift3 {
  padding-bottom: 4rem;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
}
.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
}
.grid_1-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
}

img {
  width: 100px;
  height: auto;
}
@media (max-width: 768px) {
  .tekst1,
  .tekst2,
  .tekst3 {
    margin: 1rem;
    font-size: 16px;
  }

  .grid_1-1,
  .grid_1-2,
  .grid_1-3 {
    grid-template-columns: 1fr;
  }

  .boks1,
  .boks2,
  .boks3 {
    margin-bottom: 40px;
  }

  img {
    width: 80px;
  }

  h1 {
    line-height: 2rem;
    font-size: 24px;
  }

  h2,
  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5rem;
  }
  #overskrift {
    padding-bottom: 2rem;
  }
  #overskrift2 {
    padding-bottom: 2rem;
  }
  #overskrift3 {
    padding-bottom: 2rem;
  }
}
