/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  /* font-optical-sizing: auto;
  font-weight: <400>;
  font-style: regular; */
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  /* font-optical-sizing: auto;
  font-weight: <400>;
  font-style: regular; */
}

/**FØRSTE BOKS**/
.box1 {
  background-color: #3b4b46;
  color: #ffffff;
}

.text1 {
  place-content: center;
  margin: 10%;
  line-height: 2rem;
}

.pic1 {
  margin: 10%;
  padding-bottom: 5%;
}

/**ANDEN BOKS**/
.box2 {
  background-color: #3b4b46;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  margin: 5%;
  margin-top: -5%;
  padding-top: 5%;
  place-items: center;
}

ul {
  margin: 50px;
  font-size: 1rem;
  padding-bottom: 5%;
}

.heading {
  background-color: #3b4b46;
  color: #ffffff;
  text-align: center;
  margin-top: 5%;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.heading1 {
  background-color: #3b4b46;
  color: #ffffff;
  text-align: center;
  margin: 10%;
}

/**TREDJE BOKS**/
.box3 {
  margin-bottom: 5%;
}

.pic_behind_text {
  background-image: url(billeder/kaffekop_tegning.svg);
  background-repeat: no-repeat;
  place-content: center;
  margin: 10%;
}

.pic2 {
  margin-left: 10%;
  margin-right: 10%;
}

/**TREDJE BOKS**/
.box4 {
  font-family: "Josefin Sans", sans-serif;
  background-color: #3b4b46;
  color: #ffffff;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 150%;
  margin-bottom: 5%;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  15% {
    left: 0%;
  }
  20% {
    left: -100%;
  }
  35% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  55% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  75% {
    left: -300%;
  }
  80% {
    left: -400%;
  }
  95% {
    left: -400%;
  }
  110% {
    left: -500%;
  }
  115% {
    left: -500%;
  }
}

div#slider {
  overflow: hidden;
}
div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite;
}

.show {
  margin: 5%;
}

/*****DESKTOP*****/

@media (min-width: 768px) {
  .box1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #3b4b46;
    color: #ffffff;
  }

  .text1 {
    place-content: center;
    margin: 10%;
    line-height: 2rem;
    padding-left: 10%;
  }

  .box2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #3b4b46;
    color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    margin: 5%;
    margin-top: -5%;
    padding-top: 5%;
    place-items: center;
  }

  .pic2 {
    margin-left: 10%;
    margin-right: 10%;
  }

  .box3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 5%;
  }

  .pic_behind_text {
    background-image: url(billeder/kaffekop_tegning.svg);
    background-repeat: no-repeat;
    place-content: center;
  }

  .show {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 5%;
    margin-left: 5%;
  }
}
