body,
main,
html {
  border: 0;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-family: "josefin-sans", sans-serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  color: white;
  font-family: "josefin-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

footer p {
  color: black;
}

.box01 {
  background-color: var(--secondary);
  width: 100%;
  padding-top: 10px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
  text-align: center;
}

.box22 {
  background-color: var(--secondary);
  padding: 10px;
  margin: 0 auto;
  max-width: 1300px;
  overflow: hidden;
}

.box33 {
  background-color: var(--secondary);
  width: 100%;
  padding: 10px;
}

/* MOBIL */
@media (max-width: 750px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
    position: relative;
  }

  h2 {
    color: white;
    font-family: "josefin-sans", sans-serif;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 45px;
  }

  video {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }

  .box01 {
    height: auto;
    padding: 10px;
  }

  .box22 {
    margin-top: 30px;
    height: auto;
    overflow: hidden;
  }

  .lottie {
    display: grid;
    place-items: center;
  }

  .lottiefile {
    height: 240px;
    width: 170px;
    margin: 0;
  }

  .text {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
  }

  .box33 {
    margin-top: 30px;
    height: auto;
  }
}

/* DESKTOP */
@media (min-width: 768px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .box01 {
    height: 650px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  video {
    max-height: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100%; /* Ensure the video does not exceed the container width */
  }

  .box22 {
    width: 1480px;
    height: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .lottie {
    display: grid;
    justify-self: center;
    align-self: center;
  }

  .lottiefile {
    height: 800px;
    width: 600px;
    justify-self: center;
    align-self: center;
  }

  .text {
    font-size: 20px;
    line-height: 2.5;
    text-align: center;
    margin: auto;
  }

  .box33 {
    height: auto;
    margin-top: 30px;
  }

  .centralkort {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    color: white;
    font-family: "josefin-sans", sans-serif;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 35px;
    font-size: 45px;
  }
}
